In [2]:
print("Jay JayJagannath")

Jay JayJagannath

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [4]:
#2 main datatypes
series = pd.Series(["Ram","Krishna", "Hari"])
series

0        Ram
1    Krishna
2       Hari
dtype: object

In [5]:
# creates a 1 dimensional column

In [6]:
series1 = pd.Series(["Amba","TripuraSundari", "Radha"])
series1

0              Amba
1    TripuraSundari
2             Radha
dtype: object

In [7]:
#Dataframe = 2-dimensional
result = pd.DataFrame({"So": series, "Hum": series1}) #takes  in form of dictionary
result

        So             Hum
0      Ram            Amba
1  Krishna  TripuraSundari
2     Hari           Radha

In [8]:
pepsi_sales = pd.read_csv("pepsi sales.csv")
pepsi_sales

,Stock Name,Country,Market Cap,PE Ratio
0,CocaCola (KO),United States,$260.472B,22.45
1,Monster Beverage (MNST),United States,$58.109B,35.80
2,Keurig Dr Pepper (KDP),United States,$41.669B,16.78
3,Coca-Cola Europacific Partners (CCEP),United Kingdom,$31.793B,0.00
4,Coca-Cola HBC (CCHGY),Switzerland,$11.648B,0.00
5,Coca-Cola Bottling Consolidated (COKE),United States,$7.807B,12.70
6,Luckin Coffee (LKNCY),China,$6.120B,16.18
7,Dutch Bros (BROS),United States,$5.083B,0.00
8,National Beverage (FIZZ),United States,$4.783B,29.10
9,Britvic (BTVCY),United Kingdom,$2.741B,0.00
10,Embotelladora Andina S.A (AKO.B),Chile,$2.336B,10.01
11,Embotelladora Andina S.A (AKO.A),Chile,$1.964B,8.41
12,Vita Coco (COCO),United States,$1.464B,34.36
13,Westrock Coffee (WEST),United States,$0.865B,0.00
14,Barfresh Food Group (BRFH),United States,$0.017B,0.00
15,Nuzee (NUZE),United States,$0.002B,0.00
16,Fomento Economico Mexicano S.A.B De C.V (FMX),Mexico,$0.000B,22.08
17,Coffee Holding (JVA),United States,$0.000B,0.00
18,Coca Cola Femsa S.A.B De C.V (KOF),Mexico,$0.000B,18.31

In [9]:
#row = axis 0, column = axis 1.

In [10]:
#Exporting a data frame
pepsi_sales.to_csv("xportdmodifpep.csv",index=False) #to avoid printing row number again as we already have it numbered in the data which leads to double index
#pepsi_sales.to_excel("pepsi.xl")

In [11]:
exported_pepsisales = pd.read_csv("xportdmodifpep.csv")
exported_pepsisales

,Stock Name,Country,Market Cap,PE Ratio
0,CocaCola (KO),United States,$260.472B,22.45
1,Monster Beverage (MNST),United States,$58.109B,35.80
2,Keurig Dr Pepper (KDP),United States,$41.669B,16.78
3,Coca-Cola Europacific Partners (CCEP),United Kingdom,$31.793B,0.00
4,Coca-Cola HBC (CCHGY),Switzerland,$11.648B,0.00
5,Coca-Cola Bottling Consolidated (COKE),United States,$7.807B,12.70
6,Luckin Coffee (LKNCY),China,$6.120B,16.18
7,Dutch Bros (BROS),United States,$5.083B,0.00
8,National Beverage (FIZZ),United States,$4.783B,29.10
9,Britvic (BTVCY),United Kingdom,$2.741B,0.00
10,Embotelladora Andina S.A (AKO.B),Chile,$2.336B,10.01
11,Embotelladora Andina S.A (AKO.A),Chile,$1.964B,8.41
12,Vita Coco (COCO),United States,$1.464B,34.36
13,Westrock Coffee (WEST),United States,$0.865B,0.00
14,Barfresh Food Group (BRFH),United States,$0.017B,0.00
15,Nuzee (NUZE),United States,$0.002B,0.00
16,Fomento Economico Mexicano S.A.B De C.V (FMX),Mexico,$0.000B,22.08
17,Coffee Holding (JVA),United States,$0.000B,0.00
18,Coca Cola Femsa S.A.B De C.V (KOF),Mexico,$0.000B,18.31

## Describe data

In [12]:
#Datatype: this gives an attribute , unlike the tocsv which is a function
pepsi_sales.dtypes

Stock Name     object
Country        object
Market Cap     object
PE Ratio      float64
dtype: object

In [13]:
pepsi_sales.columns
#this is also an attribute unlike a function which has a () at end

Index(['Stock Name', 'Country', 'Market Cap', 'PE Ratio'], dtype='object')

In [14]:
#this gives us the column names in a list
pepsi_columns = pepsi_sales.columns
pepsi_columns

Index(['Stock Name', 'Country', 'Market Cap', 'PE Ratio'], dtype='object')

In [15]:
pepsi_sales.index #returns the index range of the data

RangeIndex(start=0, stop=19, step=1)

In [16]:
pepsi_sales.describe()

        PE Ratio
count  19.000000
mean   11.904211
std    12.514279
min     0.000000
25%     0.000000
50%    10.010000
75%    20.195000
max    35.800000

In [17]:
#here we see that a lot of values have been described for the pe ratio column but not for the
#market cap and if we go back to .dtypes we can see that pe ratio is float int but marketcap is an object

In [18]:
pepsi_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Stock Name  19 non-null     object
 1   Country     19 non-null     object
 2   Market Cap  19 non-null     object
 3   PE Ratio    19 non-null     float64
dtypes: float64(1), object(3)
memory usage: 736.0+ bytes

In [19]:
pepsi_sales.sum()

pepsi_sales.mean()#maybe this shows error due to some reason ,come back to this later

TypeError: Could not convert ['CocaCola (KO)Monster Beverage (MNST)Keurig Dr Pepper (KDP)Coca-Cola Europacific Partners (CCEP)Coca-Cola HBC (CCHGY)Coca-Cola Bottling Consolidated (COKE)Luckin Coffee (LKNCY)Dutch Bros (BROS)National Beverage (FIZZ)Britvic (BTVCY)Embotelladora Andina S.A (AKO.B)Embotelladora Andina S.A (AKO.A)Vita Coco (COCO)Westrock Coffee (WEST)Barfresh Food Group (BRFH)Nuzee (NUZE)Fomento Economico Mexicano S.A.B De C.V (FMX)Coffee Holding (JVA)Coca Cola Femsa S.A.B De C.V (KOF)'
 'United StatesUnited StatesUnited StatesUnited KingdomSwitzerlandUnited StatesChinaUnited StatesUnited StatesUnited KingdomChileChileUnited StatesUnited StatesUnited StatesUnited StatesMexicoUnited StatesMexico'
 '$260.472B$58.109B$41.669B$31.793B$11.648B$7.807B$6.120B$5.083B$4.783B$2.741B$2.336B$1.964B$1.464B$0.865B$0.017B$0.002B$0.000B$0.000B$0.000B'] to numeric

In [ ]:
#this sums up practically everything in a column
pepsi_sales["PE Ratio"].sum()#more useful as it returns for a particular column

In [ ]:
pepsi_sales["PE Ratio"].mean()

In [ ]:
pepsi_sales["PE Ratio"].median()
#similarly we can try many other python datatypes

In [ ]:
len(pepsi_sales) # returns the number of rows in the data

## Viewing and selecting data

In [ ]:
pepsi_sales.head()

In [ ]:
# this returns the first 5 rows of the dataframe by default

In [20]:
pepsi_sales.head(7)

                               Stock Name         Country Market Cap  PE Ratio
0                           CocaCola (KO)   United States  $260.472B     22.45
1                 Monster Beverage (MNST)   United States   $58.109B     35.80
2                  Keurig Dr Pepper (KDP)   United States   $41.669B     16.78
3   Coca-Cola Europacific Partners (CCEP)  United Kingdom   $31.793B      0.00
4                   Coca-Cola HBC (CCHGY)     Switzerland   $11.648B      0.00
5  Coca-Cola Bottling Consolidated (COKE)   United States    $7.807B     12.70
6                   Luckin Coffee (LKNCY)           China    $6.120B     16.18

In [21]:
pepsi_sales.tail()

,Stock Name,Country,Market Cap,PE Ratio
14,Barfresh Food Group (BRFH),United States,$0.017B,0.00
15,Nuzee (NUZE),United States,$0.002B,0.00
16,Fomento Economico Mexicano S.A.B De C.V (FMX),Mexico,$0.000B,22.08
17,Coffee Holding (JVA),United States,$0.000B,0.00
18,Coca Cola Femsa S.A.B De C.V (KOF),Mexico,$0.000B,18.31

In [22]:
# .loc and .iloc

#loc is basiscally location and allows us to set the index numbers ourselves
fruits = pd.Series(["Banana", "Mango" , "Apple"],index = [4,23,5])
fruits
fruits.loc[5] #this sometimes shows problem when written in a separate cell
#so loc shows the index,it refers to index

'Apple'

In [23]:
# iloc refers to postion
fruits.iloc[2]
#this returns the second position

'Apple'

In [24]:
#this can be represented in the pepsi sales data frame also
pepsi_sales.iloc[4]

Stock Name    Coca-Cola HBC (CCHGY)
Country                 Switzerland
Market Cap                 $11.648B
PE Ratio                        0.0
Name: 4, dtype: object

In [25]:
#this displays the fourth row or third row as indexing starts from 0.

In [26]:
#slicing can be done in loc or iloc
pepsi_sales.loc[:3]

                              Stock Name         Country Market Cap  PE Ratio
0                          CocaCola (KO)   United States  $260.472B     22.45
1                Monster Beverage (MNST)   United States   $58.109B     35.80
2                 Keurig Dr Pepper (KDP)   United States   $41.669B     16.78
3  Coca-Cola Europacific Partners (CCEP)  United Kingdom   $31.793B      0.00

In [27]:
pepsi_sales.iloc[:5] #doesnt include the index 5

                              Stock Name         Country Market Cap  PE Ratio
0                          CocaCola (KO)   United States  $260.472B     22.45
1                Monster Beverage (MNST)   United States   $58.109B     35.80
2                 Keurig Dr Pepper (KDP)   United States   $41.669B     16.78
3  Coca-Cola Europacific Partners (CCEP)  United Kingdom   $31.793B      0.00
4                  Coca-Cola HBC (CCHGY)     Switzerland   $11.648B      0.00

In [38]:
pepsi_sales.Stock\ Name#this syntax may or may not work

SyntaxError: unexpected character after line continuation character (1847702889.py, line 1)

In [30]:
pepsi_sales.[Stock Name] #syntax okay but doesnt work due to presence of whitespace in heading

SyntaxError: invalid syntax (3831693517.py, line 1)

In [34]:
#we can try the same for columns without a space in their name
pepsi_sales.Country

0      United States
1      United States
2      United States
3     United Kingdom
4        Switzerland
5      United States
6              China
7      United States
8      United States
9     United Kingdom
10             Chile
11             Chile
12     United States
13     United States
14     United States
15     United States
16            Mexico
17     United States
18            Mexico
Name: Country, dtype: object

In [ ]:
#now this is a very useful function 
#in this case we can return all the entries of a particular item only
pepsi_sales[pepsi_sales["Country"] == "United States"]#here we specify the column name in which
#the desired entry is present on whose basis we wish to filter

In [ ]:
#another point to be noted is that if we write 2 functions in a single cell the result shows once and even if
#the second functions display other rows they are added onto the same table and displayed

In [ ]:
pepsi_sales[pepsi_sales["PE Ratio"] > 30]

In [ ]:
#the pd.crosstab function compares or produces a table based on  the 2 desired columns
pd.crosstab(pepsi_sales["Stock Name"],pepsi_sales["PE Ratio"])

In [ ]:
#Groupby groups the values by type in the desired column
pepsi_sales.groupby(["Country"]).mean()
#this shows error because the data in other columns are not all numeric so mean is not possible

In [ ]:
#plots the data of a partcular column
pepsi_sales["PE Ratio"].plot()

In [ ]:
#to plot a histogram
pepsi_sales["PE Ratio"].hist()

## how to convert a column price to integer

In [ ]:
pepsi_sales.dtypes["Market Cap"]

In [ ]:
#this shows that instead of integers the values are objects

In [ ]:
pepsi_sales

In [ ]:
pepsi_sales["Market Cap"] = pepsi_sales["Market Cap"].astype(str).str.replace('[\$\,B]', '',regex=True)
#you can experiment with this later but what it basically does is it takes the values in market cap
# as strings or in form of strngs and then replaces the dollar,and b and in next step it stores the values in type float
pepsi_sales["Market Cap"] = pepsi_sales["Market Cap"].astype(float)
#this command takes the string in marketcap column and replaces the ($),(,),(.),with nothing and stores as type int.

In [ ]:
pepsi_sales

In [ ]:
pepsi_sales["Market Cap"].plot()
#now it is plottable

## Manipulating Data

In [ ]:
#anything that we can do to strings in python we can do to data

In [ ]:
pepsi_sales["Country"].str.lower()

In [ ]:
pepsi_sales

In [ ]:
#we can see that the change has not effected in the data, in order to do that we need to 
#assign the value to the column
pepsi_sales["Country"] = pepsi_sales["Country"].str.lower()

In [ ]:
pepsi_sales

In [ ]:
#null or missing values are represented by NaN in jupyter
pepsi_sales["PE Ratio"].fillna(pepsi_sales["PE Ratio"].mean() , inplace = True)
#this fills the missing values in pe ratio with mean value in the pe ratio column

In [ ]:
pepsi_sales.dropna(inplace=True) 
#drops all rows with null values

In [ ]:
#in order to create a copy of dataframe where null rows are deleted,
pepsi_sales_dropped = pepsi_sales.dropna()
pepsi_sales_dropped

In [ ]:
pepsi_sales_dropped.to_csv("pepsi_sales_dropped.csv")
#to save this data in an excel sheet

## HOw to create data from existing data

In [127]:
#column from series
customers = pd.Series([2,4,7,8,3,1,0,6,5,4,9])

#assigns the values in customers to a new column in pepsi sales with name custcount
pepsi_sales["Cust_count"] = customers

pepsi_sales

,Stock Name,Country,Market Cap,PE Ratio,Cust_count
0,CocaCola (KO),United States,$260.472B,22.45,2.0
1,Monster Beverage (MNST),United States,$58.109B,35.80,4.0
2,Keurig Dr Pepper (KDP),United States,$41.669B,16.78,7.0
3,Coca-Cola Europacific Partners (CCEP),United Kingdom,$31.793B,0.00,8.0
4,Coca-Cola HBC (CCHGY),Switzerland,$11.648B,0.00,3.0
5,Coca-Cola Bottling Consolidated (COKE),United States,$7.807B,12.70,1.0
6,Luckin Coffee (LKNCY),China,$6.120B,16.18,0.0
7,Dutch Bros (BROS),United States,$5.083B,0.00,6.0
8,National Beverage (FIZZ),United States,$4.783B,29.10,5.0
9,Britvic (BTVCY),United Kingdom,$2.741B,0.00,4.0
10,Embotelladora Andina S.A (AKO.B),Chile,$2.336B,10.01,9.0
11,Embotelladora Andina S.A (AKO.A),Chile,$1.964B,8.41,NaN
12,Vita Coco (COCO),United States,$1.464B,34.36,NaN
13,Westrock Coffee (WEST),United States,$0.865B,0.00,NaN
14,Barfresh Food Group (BRFH),United States,$0.017B,0.00,NaN
15,Nuzee (NUZE),United States,$0.002B,0.00,NaN
16,Fomento Economico Mexicano S.A.B De C.V (FMX),Mexico,$0.000B,22.08,NaN
17,Coffee Holding (JVA),United States,$0.000B,0.00,NaN
18,Coca Cola Femsa S.A.B De C.V (KOF),Mexico,$0.000B,18.31,NaN

In [ ]:
#also the remaining values in the new column are filled by null

In [128]:
pepsi_sales["Cust_count"].fillna(6,inplace = True)
pepsi_sales

,Stock Name,Country,Market Cap,PE Ratio,Cust_count
0,CocaCola (KO),United States,$260.472B,22.45,2.0
1,Monster Beverage (MNST),United States,$58.109B,35.80,4.0
2,Keurig Dr Pepper (KDP),United States,$41.669B,16.78,7.0
3,Coca-Cola Europacific Partners (CCEP),United Kingdom,$31.793B,0.00,8.0
4,Coca-Cola HBC (CCHGY),Switzerland,$11.648B,0.00,3.0
5,Coca-Cola Bottling Consolidated (COKE),United States,$7.807B,12.70,1.0
6,Luckin Coffee (LKNCY),China,$6.120B,16.18,0.0
7,Dutch Bros (BROS),United States,$5.083B,0.00,6.0
8,National Beverage (FIZZ),United States,$4.783B,29.10,5.0
9,Britvic (BTVCY),United Kingdom,$2.741B,0.00,4.0
10,Embotelladora Andina S.A (AKO.B),Chile,$2.336B,10.01,9.0
11,Embotelladora Andina S.A (AKO.A),Chile,$1.964B,8.41,6.0
12,Vita Coco (COCO),United States,$1.464B,34.36,6.0
13,Westrock Coffee (WEST),United States,$0.865B,0.00,6.0
14,Barfresh Food Group (BRFH),United States,$0.017B,0.00,6.0
15,Nuzee (NUZE),United States,$0.002B,0.00,6.0
16,Fomento Economico Mexicano S.A.B De C.V (FMX),Mexico,$0.000B,22.08,6.0
17,Coffee Holding (JVA),United States,$0.000B,0.00,6.0
18,Coca Cola Femsa S.A.B De C.V (KOF),Mexico,$0.000B,18.31,6.0

In [129]:
#Column using python list
liters = [2,3,2,5,4,6,5,7,2,1,3,2,5,4,6,5,7,2,0]
pepsi_sales["Literdrank"] = liters
pepsi_sales
#this shows error if we dont give all 18 out of 18 values for the column in the list

,Stock Name,Country,Market Cap,PE Ratio,Cust_count,Literdrank
0,CocaCola (KO),United States,$260.472B,22.45,2.0,2
1,Monster Beverage (MNST),United States,$58.109B,35.80,4.0,3
2,Keurig Dr Pepper (KDP),United States,$41.669B,16.78,7.0,2
3,Coca-Cola Europacific Partners (CCEP),United Kingdom,$31.793B,0.00,8.0,5
4,Coca-Cola HBC (CCHGY),Switzerland,$11.648B,0.00,3.0,4
5,Coca-Cola Bottling Consolidated (COKE),United States,$7.807B,12.70,1.0,6
6,Luckin Coffee (LKNCY),China,$6.120B,16.18,0.0,5
7,Dutch Bros (BROS),United States,$5.083B,0.00,6.0,7
8,National Beverage (FIZZ),United States,$4.783B,29.10,5.0,2
9,Britvic (BTVCY),United Kingdom,$2.741B,0.00,4.0,1
10,Embotelladora Andina S.A (AKO.B),Chile,$2.336B,10.01,9.0,3
11,Embotelladora Andina S.A (AKO.A),Chile,$1.964B,8.41,6.0,2
12,Vita Coco (COCO),United States,$1.464B,34.36,6.0,5
13,Westrock Coffee (WEST),United States,$0.865B,0.00,6.0,4
14,Barfresh Food Group (BRFH),United States,$0.017B,0.00,6.0,6
15,Nuzee (NUZE),United States,$0.002B,0.00,6.0,5
16,Fomento Economico Mexicano S.A.B De C.V (FMX),Mexico,$0.000B,22.08,6.0,7
17,Coffee Holding (JVA),United States,$0.000B,0.00,6.0,2
18,Coca Cola Femsa S.A.B De C.V (KOF),Mexico,$0.000B,18.31,6.0,0

In [135]:
#Column from a column
pepsi_sales["drinkpercent" ] = pepsi_sales["Literdrank"]/pepsi_sales["Cust_count"]*100
pepsi_sales

,Stock Name,Country,Market Cap,PE Ratio,Cust_count,Literdrank,drinkpercent,lettersinpepsi
0,CocaCola (KO),United States,$260.472B,22.45,2.0,2,100.000000,5
1,Monster Beverage (MNST),United States,$58.109B,35.80,4.0,3,75.000000,5
2,Keurig Dr Pepper (KDP),United States,$41.669B,16.78,7.0,2,28.571429,5
3,Coca-Cola Europacific Partners (CCEP),United Kingdom,$31.793B,0.00,8.0,5,62.500000,5
4,Coca-Cola HBC (CCHGY),Switzerland,$11.648B,0.00,3.0,4,133.333333,5
5,Coca-Cola Bottling Consolidated (COKE),United States,$7.807B,12.70,1.0,6,600.000000,5
6,Luckin Coffee (LKNCY),China,$6.120B,16.18,0.0,5,inf,5
7,Dutch Bros (BROS),United States,$5.083B,0.00,6.0,7,116.666667,5
8,National Beverage (FIZZ),United States,$4.783B,29.10,5.0,2,40.000000,5
9,Britvic (BTVCY),United Kingdom,$2.741B,0.00,4.0,1,25.000000,5
10,Embotelladora Andina S.A (AKO.B),Chile,$2.336B,10.01,9.0,3,33.333333,5
11,Embotelladora Andina S.A (AKO.A),Chile,$1.964B,8.41,6.0,2,33.333333,5
12,Vita Coco (COCO),United States,$1.464B,34.36,6.0,5,83.333333,5
13,Westrock Coffee (WEST),United States,$0.865B,0.00,6.0,4,66.666667,5
14,Barfresh Food Group (BRFH),United States,$0.017B,0.00,6.0,6,100.000000,5
15,Nuzee (NUZE),United States,$0.002B,0.00,6.0,5,83.333333,5
16,Fomento Economico Mexicano S.A.B De C.V (FMX),Mexico,$0.000B,22.08,6.0,7,116.666667,5
17,Coffee Holding (JVA),United States,$0.000B,0.00,6.0,2,33.333333,5
18,Coca Cola Femsa S.A.B De C.V (KOF),Mexico,$0.000B,18.31,6.0,0,0.000000,5

In [131]:
#Create a column from a single value
pepsi_sales["lettersinpepsi"] = 5
pepsi_sales["lovepepsi"] = True
pepsi_sales

,Stock Name,Country,Market Cap,PE Ratio,Cust_count,Literdrank,drinkpercent,lettersinpepsi,lovepepsi
0,CocaCola (KO),United States,$260.472B,22.45,2.0,2,100.000000,5,True
1,Monster Beverage (MNST),United States,$58.109B,35.80,4.0,3,75.000000,5,True
2,Keurig Dr Pepper (KDP),United States,$41.669B,16.78,7.0,2,28.571429,5,True
3,Coca-Cola Europacific Partners (CCEP),United Kingdom,$31.793B,0.00,8.0,5,62.500000,5,True
4,Coca-Cola HBC (CCHGY),Switzerland,$11.648B,0.00,3.0,4,133.333333,5,True
5,Coca-Cola Bottling Consolidated (COKE),United States,$7.807B,12.70,1.0,6,600.000000,5,True
6,Luckin Coffee (LKNCY),China,$6.120B,16.18,0.0,5,inf,5,True
7,Dutch Bros (BROS),United States,$5.083B,0.00,6.0,7,116.666667,5,True
8,National Beverage (FIZZ),United States,$4.783B,29.10,5.0,2,40.000000,5,True
9,Britvic (BTVCY),United Kingdom,$2.741B,0.00,4.0,1,25.000000,5,True
10,Embotelladora Andina S.A (AKO.B),Chile,$2.336B,10.01,9.0,3,33.333333,5,True
11,Embotelladora Andina S.A (AKO.A),Chile,$1.964B,8.41,6.0,2,33.333333,5,True
12,Vita Coco (COCO),United States,$1.464B,34.36,6.0,5,83.333333,5,True
13,Westrock Coffee (WEST),United States,$0.865B,0.00,6.0,4,66.666667,5,True
14,Barfresh Food Group (BRFH),United States,$0.017B,0.00,6.0,6,100.000000,5,True
15,Nuzee (NUZE),United States,$0.002B,0.00,6.0,5,83.333333,5,True
16,Fomento Economico Mexicano S.A.B De C.V (FMX),Mexico,$0.000B,22.08,6.0,7,116.666667,5,True
17,Coffee Holding (JVA),United States,$0.000B,0.00,6.0,2,33.333333,5,True
18,Coca Cola Femsa S.A.B De C.V (KOF),Mexico,$0.000B,18.31,6.0,0,0.000000,5,True

In [132]:
pepsi_sales.dtypes

Stock Name         object
Country            object
Market Cap         object
PE Ratio          float64
Cust_count        float64
Literdrank          int64
drinkpercent      float64
lettersinpepsi      int64
lovepepsi            bool
dtype: object

In [ ]:
#this shows that in pandas the data set can contain different datatypes

In [133]:
#pepsi_sales.drop("lovepepsi" , axis = 1)
#we use axis 1 for columns
#this should drop lovepepsi column but it will not do so 
# we need to remember that either we need to assign the column to this function
# or we need to use inplace=true
pepsi_sales = pepsi_sales.drop("lovepepsi" , axis = 1)

In [126]:
pepsi_sales
#we can see that even though it doesnt show the lovepepsi column here it appears again below

,Stock Name,Country,Market Cap,PE Ratio
0,CocaCola (KO),United States,$260.472B,22.45
1,Monster Beverage (MNST),United States,$58.109B,35.80
2,Keurig Dr Pepper (KDP),United States,$41.669B,16.78
3,Coca-Cola Europacific Partners (CCEP),United Kingdom,$31.793B,0.00
4,Coca-Cola HBC (CCHGY),Switzerland,$11.648B,0.00
5,Coca-Cola Bottling Consolidated (COKE),United States,$7.807B,12.70
6,Luckin Coffee (LKNCY),China,$6.120B,16.18
7,Dutch Bros (BROS),United States,$5.083B,0.00
8,National Beverage (FIZZ),United States,$4.783B,29.10
9,Britvic (BTVCY),United Kingdom,$2.741B,0.00
10,Embotelladora Andina S.A (AKO.B),Chile,$2.336B,10.01
11,Embotelladora Andina S.A (AKO.A),Chile,$1.964B,8.41
12,Vita Coco (COCO),United States,$1.464B,34.36
13,Westrock Coffee (WEST),United States,$0.865B,0.00
14,Barfresh Food Group (BRFH),United States,$0.017B,0.00
15,Nuzee (NUZE),United States,$0.002B,0.00
16,Fomento Economico Mexicano S.A.B De C.V (FMX),Mexico,$0.000B,22.08
17,Coffee Holding (JVA),United States,$0.000B,0.00
18,Coca Cola Femsa S.A.B De C.V (KOF),Mexico,$0.000B,18.31

## Numpy`

In [ ]:
#Why Numpy?
#NumPy operations mostly are done in C, but in Python its slow, so Numpy helps us
#Here different attributes or data can be converted into binary bits and stores in arrays
#great way to store data in a way human can understand to a way computers can understand
#Number Python: It basically converts data into numbers and then its easier to work with
#Numpy is fast because it has behind the scenes optimization written in C, so we dont need to know C
#Vectorization basically allows us to avoid writing loops